html { 
    background: url(../images/background2.jpg) repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .container {
    background: url(../images/background2.jpg) repeat;
  }

  .card {
    background: url(../images/background2.jpg) repeat;
  }

.text {
    color: white;
    font-weight: 700;
}

  .button {
    width: 75px;
    height: 75px;
  }